.visual {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

.picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    font-size: 2em;
    width: 2em;
    text-align: center;
    border-radius: .1em;
    border: 1px solid #033f63;
}

.change {
    font-size: 1.5em;
    font-weight: bold;
    color: #033f63;
    background: none;
    border: none;
    cursor: pointer;
    transform: scale(1.5, 1);
}

.separator {
    margin: 0 .25em;
}

.rotate {
    transform: scale(1.5, -1);
}