* {
    box-sizing: border-box;
}
.tabs-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}

.tabs {
    display: flex;
    justify-content: space-around;
    padding: .5em;
}

.tabs-dark {
    background: #033f63;
    color: white;
}

.tabs-light {
    background: white;
    color: #033f63;
}

.tabs-horizontal {
    flex-direction: row;
    width: 100%;
}

.tabs-vertical {
    flex-direction: column;
    width: 20%;
}

.tab {
    cursor: pointer;
    padding: 0.5em 1em;
    width: 100%;
    text-align: center;
}

.tab:hover {
    background-color: #888;              
}

.tab-content {
    padding: 1em;
}

.tab-content-horizontal {
    width: 100%;
}

.tab-content-vertical    {
    width: 80%;
}